$background:#F9F9F9;
$cultitlu:#1D1929;
$culsubtitlu:#77757F;
$cullacat:#FFFFFF;
$culbacklact: #059E67;
$culsale:#646464;
$bcksale: #F0FEE2;
$culpretred:#CA8383;
$cultxtcateg:#000000;
$backcateg:#F9F9F9;
$cultitlucateg:#1D1929;
$fottitlu: #000000;
$fotsubt: #1D1929;
$backfot: #D9D9D9;
$culborder:#E8E8EA;
$font-family:"Nunito Sans";
$alb:#FFFFFF;
$font-size:20;
$steagalbena:#FFDE54;
$cullachover: #00774C;
$cultxtsupl:#A5A3A9;
$cullinie:#E5E5E5;