@import "culori";
@import "mixinuri";
@media (min-width: 320px) {
    header {
        #succes {
            background-color: $culbacklact;
        }
        #fail {
            background-color: red;
        }
        #succes,
        #fail {
            display: none;
            @include tipografie(16px, 800, 18px, $alb);
            position: fixed;
            padding: 15px;
            border-radius: 15px;
            z-index: 3;
            right: 0;
        }
        #imgsh {
            width: 120px;
            height: 120px;
            display: inline-block;
        }
        .itmshop {
            overflow: auto;
            height: 75%;
        }
        text-align: center;
        padding: 25px 54px;
        margin: 0;
        background-color: $backfot;
        .numarcumparaturi {
            background-color: #059E67;
            border-radius: 50%;
            margin-left: 10px;
            width: 24px;
            @include tipografie(12px, 700, 24px, $alb);
            text-align: center;
        }
        .cumparaturi {
            padding-right: 15px;
            border-bottom: 1px solid $backfot;
            display: flex;
            padding-top: 15px;
            width: 100%;
        }
        #plus {
            border: 0;
            background-color: transparent;
            font-family: "Font Awesome 5 Free";
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
            font-size: 15px;
            color: $cultitlu;
            font-weight: 600;
            padding: 5px;
            position: relative;
            right: 0px;
            background-color: $backfot;
            border-radius: 50%;
            cursor: pointer;
            &:after {
                content: "\f067";
                color: $cultxtcateg;
            }
            span {
                display: none;
            }
        }
        #minus {
            cursor: pointer;
            border: 0;
            background-color: transparent;
            font-family: "Font Awesome 5 Free";
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
            font-size: 15px;
            color: $cultitlu;
            font-weight: 600;
            padding: 5px;
            right: 47px;
            position: relative;
            background-color: $backfot;
            border-radius: 50%;
            &:before {
                content: "\f068";
                color: $cultxtcateg;
            }
            span {
                display: none;
            }
        }
        .detfruct {
            display: inline-block;
            width: 85%;
            text-align: left;
        }
        a.rmvitm {
            font-family: "Font Awesome 5 Free";
            -webkit-font-smoothing: antialiased;
            display: flex;
            flex-direction: row-reverse;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1.5;
            font-size: 15px;
            font-weight: 900;
            padding: 0;
            text-align: center;
            overflow-wrap: unset;
            position: absolute;
            z-index: 0;
            right: 30px;
            top: 30px;
            text-decoration: none;
            &:after {
                content: "\58";
                color: black;
            }
            span {
                display: none;
            }
        }
        .mobilebtn {
            border: 0;
            background-color: transparent;
            font-family: "Font Awesome 5 Free";
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
            font-size: 30px;
            color: $cultitlu;
            font-weight: 900;
            position: absolute;
            left: 15px;
            top: 25px;
            padding-left: 10px;
            &:after {
                content: "\f0c9";
                color: $culbacklact;
            }
            .iconmob {
                display: none;
            }
        }
        .navbar {
            background-color: $alb;
            display: none;
            position: absolute;
            width: 50%;
            padding: 0;
            background-color: $backfot;
            position: absolute;
            .navbuton {
                display: inline-block;
            }
        }
        #userLogin {
            font-family: "Font Awesome 5 Free";
            -webkit-font-smoothing: antialiased;
            display: flex;
            flex-direction: row-reverse;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1.5;
            font-size: 15px;
            font-weight: 900;
            padding: 0;
            text-align: center;
            overflow-wrap: unset;
            position: absolute;
            z-index: 3;
            right: 90px;
            top: 30px;
            color: black;
            text-decoration: none;
            &:after {
                content: "\f007";
            }
            span {
                display: none;
            }
        }
        .cart {
            font-family: "Font Awesome 5 Free";
            -webkit-font-smoothing: antialiased;
            display: flex;
            flex-direction: row-reverse;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1.5;
            font-size: 15px;
            font-weight: 900;
            padding: 0;
            text-align: center;
            overflow-wrap: unset;
            position: absolute;
            z-index: 3;
            right: 30px;
            top: 30px;
            text-decoration: none;
            &:after {
                content: "\f07a";
                color: black;
            }
            span {
                display: none;
            }
        }
        .showshop {
            &+.shop {
                display: block;
                position: fixed;
                z-index: 3;
                list-style: none;
                width: 100%;
                left: 0;
                overflow: auto;
                height: 100%;
                top: 0;
                padding-left: 0;
                background-color: $alb;
                p {
                    margin-bottom: 0;
                }
            }
        }
        .usersmenu {
            display: none;
        }
        .showusersmenu {
            &+.usersmenu {
                display: inline-block;
                position: absolute;
                right: 20px;
                background: $backfot;
                top: 80px;
                padding: 25px;
                list-style: none;
                z-index: 3;
                #infopage {
                    padding-right: 20px;
                    @include tipografie(16px, 600, 20px, $cultitlu);
                    cursor: pointer;
                    text-decoration: none;
                }
                #btnlogout {
                    @include tipografie(16px, 600, 20px, $cultitlu);
                    cursor: pointer;
                    text-decoration: none;
                }
            }
        }
        .shopitems {
            position: absolute;
            z-index: 1;
            background-color: white;
        }
        .numeFruct {
            @include tipografie(16px, 800, 18px, $cultxtcateg);
            padding-bottom: 10px;
        }
        #value {
            text-align: center;
            @include tipografie(16px, 800, 18px, $cultxtcateg);
        }
        #quantyy {
            display: inline-block;
            @include tipografie(14px, 500, 16px, $cultxtcateg);
        }
        .valuequanty {
            width: 50px;
            padding: 0;
            position: relative;
            right: -25px;
            border: 0.5px solid $culborder;
            text-align: center;
            display: inline-block;
            border-radius: 25px
        }
        .pricebut {
            position: relative;
            top: 30px;
            padding: 0;
        }
        .price {
            padding: 0;
            @include tipografie(14px, 500, 16px, $cultxtcateg)
        }
        #delitm {
            top: -20px;
            position: relative;
            border: 0;
            border-radius: 10px;
            float: right;
            background-color: $backfot;
            cursor: pointer;
        }
        #btnshop {
            position: absolute;
            width: 100%;
            bottom: 0;
        }
        .checkoutbtn {
            text-decoration: none;
            color: white;
            text-align: center;
            border-radius: 20px;
            margin: 13px;
            display: block;
            padding: 15px 40px;
            background-color: $culbacklact;
            pointer-events: auto;
        }
        .checkoutbtn:hover {
            background-color: $cullachover;
            color: white;
        }
        .checkoutbtnof {
            text-decoration: none;
            color: white;
            text-align: center;
            border-radius: 20px;
            margin: 13px;
            display: block;
            padding: 15px 40px;
            background-color: $backfot;
            pointer-events: none;
        }
        .itmcart,
        .subtotal {
            display: inline-block;
            float: right;
            @include tipografie(16px, 500, 18px, $cultxtcateg)
        }
        .topshop {
            display: flex;
            justify-content: space-between;
            padding: 0 15px 10px;
            border-bottom: 2px solid $backfot;
        }
        .butonclose {
            display: block;
            margin-bottom: 50px;
        }
        .close {
            float: right;
            background: white;
            border: none;
            font-size: 30px;
            bottom: 45px;
            position: relative;
            cursor: pointer;
        }
        .shop {
            display: none;
        }
        .navigation-active {
            height: 100%;
            overflow-x: hidden;
            z-index: 3;
            padding-left: 10px;
            &+.navbar {
                justify-content: flex-start;
                .navbuton {
                    display: inline-block;
                    .arrowuplink {
                        border: 0;
                        background-color: transparent;
                        font-family: "Font Awesome 5 Free";
                        -webkit-font-smoothing: antialiased;
                        display: inline-block;
                        font-style: normal;
                        font-variant: normal;
                        text-rendering: auto;
                        line-height: 1;
                        font-size: 30px;
                        color: $cultitlu;
                        font-weight: 900;
                        position: absolute;
                        text-decoration: none;
                        top: 50px;
                        padding-left: 10px;
                        &:after {
                            content: "\f106";
                            color: $culbacklact;
                        }
                    }
                    .arrowup {
                        display: none;
                    }
                }
                position: fixed;
                display: flex;
                flex-direction: column;
                z-index: 2;
                list-style: none;
                width: 100%;
                left: 0;
                overflow: auto;
                height: 100%;
                padding-top: 54px;
                top: 0;
                .dropbtn {
                    text-decoration: none;
                    @include tipografie(20px, 700, 26px, $cultitlu);
                }
                .dropbtn2 {
                    text-decoration: none;
                    @include tipografie(20px, 700, 26px, $culpretred);
                }
                .menu {
                    display: none;
                    list-style-type: none;
                    a {
                        text-transform: none;
                        display: block;
                        text-decoration: none;
                    }
                }
                .showmenu {
                    .arrowuplink {
                        transform: rotate(180deg);
                        padding-right: 10px;
                    }
                    &+.menu {
                        display: inline;
                        padding: 0;
                        margin-top: 25px;
                        padding: 25px 0;
                        z-index: 1;
                        background-color: $backfot;
                        .partea1 {
                            text-align: center;
                        }
                        .aditionaltext {
                            position: absolute;
                            z-index: 1;
                            top: 25px;
                            @include tipografie(20px, 700, 24px, $cultitlu);
                            padding: 25px;
                            display: none;
                        }
                        .aditionaltext2 {
                            position: absolute;
                            z-index: 1;
                            top: 65px;
                            @include tipografie(16px, 600, 20px, $cultxtsupl);
                            padding: 25px;
                            max-width: 30%;
                            display: none;
                        }
                        .aditionaltext3 {
                            position: absolute;
                            z-index: 1;
                            bottom: 20px;
                            @include tipografie(14px, 800, 28px, $cultitlu);
                            padding: 25px;
                            display: none;
                        }
                        img {
                            height: auto;
                            width: auto;
                            position: relative;
                            z-index: 0;
                            display: none;
                        }
                        li {
                            z-index: 1;
                            a {
                                @include tipografie(16px, 700, 20px, $cultitlu);
                                padding-top: 9px;
                            }
                        }
                    }
                }
            }
        }
        img {
            height: auto;
            width: 211px;
        }
        a {
            display: inline-block;
        }
    }
}

@media (min-width: 1024px) {
    header {
        #user {
            right: 150px;
        }
        .arrowup {
            display: none;
        }
        padding: 25px 0px 25px 40px;
        margin: 0;
        background-color: $backfot;
        text-align: left;
        .navigation {
            display: inline;
        }
        .close {
            bottom: 0px;
        }
        .mobilebtn {
            display: none;
        }
        .dropmenumob {
            display: none;
            .iconmob {
                display: none;
            }
        }
        .navbar {
            margin: 0;
            background-color: $backfot;
            position: absolute;
            .navbuton {
                display: inline-block;
            }
            display: inline-block;
            padding-left: 50px;
            list-style: none;
            width: 75%;
            .dropbtn {
                text-decoration: none;
                @include tipografie(20px, 700, 26px, $cultitlu);
                margin-left: 15px;
            }
            .dropbtn2 {
                text-decoration: none;
                @include tipografie(20px, 700, 26px, $culpretred);
                margin-left: 15px;
            }
            .dropbtn:hover,
            .dropbtn2:hover {
                color: $culbacklact;
            }
            .menu {
                display: none;
                position: absolute;
                list-style-type: none;
                a {
                    text-transform: none;
                    display: block;
                    text-decoration: none;
                }
            }
            .showmenu {
                &+.menu {
                    display: grid;
                    grid-template-columns: 0.5fr 1fr;
                    grid-template-rows: 1fr;
                    padding: 0;
                    margin-top: 25px;
                    background-color: $alb;
                    padding: 25px;
                    box-shadow: 0px 0px 2px 0.5px rgb(0 0 0 / 25%);
                    z-index: 1;
                    .aditionaltext {
                        position: absolute;
                        z-index: 1;
                        top: 25px;
                        @include tipografie(20px, 700, 24px, $cultitlu);
                        padding: 25px;
                    }
                    .aditionaltext2 {
                        position: absolute;
                        z-index: 1;
                        top: 65px;
                        @include tipografie(16px, 600, 20px, $cultxtsupl);
                        padding: 25px;
                        max-width: 30%;
                    }
                    .aditionaltext3 {
                        position: absolute;
                        z-index: 1;
                        bottom: 20px;
                        @include tipografie(14px, 800, 28px, $cultitlu);
                        padding: 25px;
                    }
                    img {
                        height: auto;
                        width: auto;
                        position: relative;
                        z-index: 0;
                    }
                    li {
                        z-index: 1;
                        background-color: $alb;
                        a {
                            @include tipografie(16px, 700, 20px, $cultitlu);
                            padding-top: 9px;
                            padding-left: 30px;
                        }
                        a:hover {
                            color: $culbacklact;
                        }
                    }
                }
            }
        }
        #userLogin {
            right: 150px;
        }
        .cart {
            font-family: "Font Awesome 5 Free";
            -webkit-font-smoothing: antialiased;
            display: flex;
            flex-direction: row-reverse;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1.5;
            font-size: 15px;
            font-weight: 900;
            padding: 0;
            text-align: center;
            overflow-wrap: unset;
            position: absolute;
            z-index: 0;
            top: 30px;
            right: 90px;
            text-decoration: none;
            &:after {
                content: "\f07a";
                color: black;
            }
            span {
                display: none;
            }
        }
        .showshop {
            &+.shop {
                display: block;
                padding: 0;
                left: unset;
                overflow: inherit;
                z-index: 3;
                background-color: transparent;
            }
        }
        #btnshop {
            width: 40%;
        }
        #cart {
            position: absolute;
            float: left;
            width: 60%;
            background-color: rgb(0, 0, 0, 0.7);
            height: 100%;
        }
        #cartshop {
            background-color: $alb;
            float: right;
            width: 40%;
            height: 100%;
        }
        .shop {
            display: none;
            right: 0px;
        }
        .shopitems {
            position: absolute;
            z-index: 1;
            background-color: white;
        }
        .cumparaturi {
            border-bottom: 1px solid $backfot;
        }
        .detfruct {
            display: inline-block;
            width: 60%;
        }
        img {
            height: auto;
            width: 211px;
        }
    }
}

@media (min-width: 1200px) {
    header {
        .detfruct {
            width: 68%;
        }
    }
}

@media (min-width: 1500px) {
    header {
        .detfruct {
            width: 72%;
        }
    }
}

@media (min-width: 1600px) {
    header {
        .detfruct {
            width: 75%;
        }
        .navbar {
            .shop {
                right: -107px;
            }
        }
    }
}

@media (min-width: 1700px) {
    header {
        .navbar {
            .shop {
                right: -129px;
            }
        }
    }
}

@media (min-width: 1800px) {
    header {
        .detfruct {
            width: 78%;
        }
    }
}