    @import "culori";
    @import "mixinuri";
    @import "header";
    @import "footer";
    body {
        font-family: $font-family;
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
    }
    
    * {
        box-sizing: border-box;
    }
    
    * {
        margin: 0;
    }
    
    img {
        display: block;
        max-width: 100%;
    }
    
    input,
    button,
    textarea,
    select {
        font: inherit;
    }
    
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        overflow-wrap: break-word;
    }
    
    #loader {
        border: 12px solid $backfot;
        border-radius: 50%;
        border-top: 12px solid $culbacklact;
        width: 70px;
        height: 70px;
        animation: spin 1s linear infinite;
        position: absolute;
        left: calc(50% - 35px);
        top: calc(50% - 35px);
    }
    
    @keyframes spin {
        100% {
            transform: rotate(360deg);
        }
    }
    
    .stilizareloader {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 100;
        background-color: rgba(255, 255, 255, 0.7);
    }
    
    main {
        min-height: 600px;
    }
    
    h1 {
        @include tipografie(24px, 800, 32px, $cultitlu);
        text-align: center;
        padding: 25px;
        display: block;
    }
    
    #root {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    
    form {
        padding: 20px;
        display: flex;
        flex-direction: column;
        width: 250px;
        justify-content: space-evenly;
        height: 350px;
        background-color: #F9F9F9;
        border-radius: 16px;
        box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
        button {
            border: none;
            border-radius: 16px;
            background-color: #059E67;
            line-height: 1;
            font-size: 18px;
            align-items: baseline;
            justify-content: center;
            display: flex;
            color: #FFFFFF;
            font-weight: 900;
            width: 100%;
            text-align: center;
            padding: 15px 0;
            cursor: pointer;
        }
        button:hover {
            background-color: $cullachover;
        }
    }
    
    label {
        @include tipografie(16px, 700, 24px, $cultitlu);
        margin: 0;
        text-align: left;
    }
    
    input {
        border-radius: 18px;
        border: 1px solid $backfot;
        padding: 20px 0px 20px 5px;
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        color: #77757F;
    }