@import "culori";
@import "mixinuri";
@media (min-width: 320px) {
    .scrollblock {
        overflow: hidden;
    }
    main {
        .container {
            padding: 0 16px;
        }
        width: 100%;
        .search2 {
            display: none;
        }
        .cutia1 {
            background-image: url("logo/fructe.png");
            padding-bottom: 50%;
            background-repeat: no-repeat;
            background-size: 100% auto;
            background-position: bottom center;
            background-color: $backcateg;
            display: block;
            .titlu {
                padding-top: 24px;
                h2 {
                    @include tipografie(24px,
                    800,
                    32px,
                    $cultitlu);
                    margin: 0;
                    text-align: center;
                }
                p {
                    @include tipografie(16px,
                    700,
                    24px,
                    $culsubtitlu);
                    margin: 0;
                    text-align: center;
                }
            }
            form {
                padding: 24px 0 0 0;
                width: 100%;
                position: relative;
            }
            input {
                border-radius: 18px;
                border: 1px solid $culborder;
                padding: 20px 57px 20px 24px;
                width: 100%;
                @include tipografie(14px,
                400,
                16px,
                $culsubtitlu);
            }
            .buton {
                border: 0;
                background-color: transparent;
                font-family: "Font Awesome 5 Free";
                -webkit-font-smoothing: antialiased;
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                line-height: 1;
                font-size: 20px;
                color: $cultitlu;
                font-weight: 900;
                position: absolute;
                right: 10px;
                top: 37px;
                height: 32px;
                &:after {
                    content: "\f002";
                }
                span {
                    display: none;
                }
            }
            #searchclose {
                border: 0;
                background-color: transparent;
                -webkit-font-smoothing: antialiased;
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                line-height: 1;
                font-size: 20px;
                color: #1D1929;
                font-weight: 900;
                position: absolute;
                right: 45px;
                top: 37px;
                height: 32px;
            }
        }
        .fructe {
            padding-bottom: 11px;
            .det1,
            .det2,
            .det3,
            .det4,
            .detfruct {
                display: none;
            }
            #noitems {
                display: none
            }
            #noitemsshow {
                text-align: center;
                font-size: 18px;
                font-weight: 800;
                line-height: 24px;
                color: #000000;
                display: block;
            }
            h1 {
                @include tipografie(24px,
                800,
                32px,
                $cultitlu);
                text-align: center;
                margin: 0;
                padding-top: 16px;
                padding-bottom: 16px;
            }
            .card1 {
                background-color: $background;
                width: 100%;
                border-radius: 16px;
                box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
                @include flex(flex,
                row,
                space-around,
                nowrap,
                center);
                padding: 16px 0;
                margin-bottom: 16px;
                position: relative;
                a.fruct {
                    height: 0;
                    padding-bottom: 28%;
                    float: left;
                    width: 28%;
                }
                img {
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    border-radius: 50%;
                }
                .oferte {
                    @include tipografie(12px,
                    normal,
                    16px,
                    $culsale);
                    background-color: $bcksale;
                    border: 1px solid $bcksale;
                    margin: 0;
                    position: absolute;
                    z-index: 1;
                    left: 6px;
                    top: 16px;
                    border-radius: 10px;
                    padding: 4px 8px;
                }
                .detalii {
                    width: 60%;
                    display: inline-block;
                    span {
                        padding: 0 18px;
                    }
                    .stele {
                        display: none;
                    }
                    .stele2 {
                        display: none;
                    }
                    .stele3 {
                        display: none;
                    }
                    .nume {
                        @include tipografie(14px,
                        700,
                        16px,
                        $cultitlu);
                        margin: 0;
                        padding: 0;
                        text-decoration: none;
                    }
                    .gramaj {
                        @include tipografie(12px,
                        600,
                        16px,
                        $culsubtitlu);
                        margin: 0;
                        padding-bottom: 12px;
                        letter-spacing: 0.03em;
                    }
                    .pret {
                        @include tipografie(18px,
                        700,
                        24px,
                        $cultitlu);
                        margin: 0;
                        padding-bottom: 16px;
                    }
                    .detalii2 {
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        justify-content: space-between;
                        .pret2 {
                            @include tipografie(23px,
                            700,
                            24.3px,
                            $culpretred);
                            margin: 0;
                            padding: 0;
                        }
                        .preturi2 {
                            .pret1 {
                                @include tipografie(23px,
                                700,
                                24px,
                                $culpretred);
                                margin: 0;
                                padding: 0;
                                display: inline-block;
                            }
                            .pret3 {
                                text-decoration: line-through;
                                margin: 0 0 0 10px;
                                font-weight: 700;
                                display: inline-block;
                            }
                        }
                    }
                    .mbbuy {
                        display: none;
                    }
                    .salemb {
                        border: 0;
                        background-color: transparent;
                        font-family: "Font Awesome 5 Free";
                        -webkit-font-smoothing: antialiased;
                        display: inline-block;
                        font-style: normal;
                        font-variant: normal;
                        text-rendering: auto;
                        line-height: 1;
                        font-size: 18px;
                        color: $cultitlu;
                        font-weight: 900;
                        padding: 0;
                        display: block;
                        &:after {
                            content: "\f290";
                            border-radius: 12px;
                            color: white;
                            border: 7px solid $culbacklact;
                            background: $culbacklact;
                        }
                    }
                    #salembout {
                        border: 0;
                        background-color: $backfot;
                        &:after {
                            content: "\f290";
                            border-radius: 12px;
                            color: white;
                            border: 7px solid $backfot;
                            background: $backfot;
                        }
                    }
                }
            }
            .cardfructe {
                display: flex;
                flex-direction: column;
            }
            .lista {
                display: none;
            }
        }
        width: 100%;
        padding-bottom: 33px;
        .categori {
            .glide_slide,
            .glide_slide--clone {
                margin-left: 5px;
                margin-right: 5px;
            }
            .glide {
                padding: 0 10px;
            }
            .glide__track {
                margin: 0 -10px;
            }
            .glide__arrow {
                box-shadow: none;
            }
            .glide__arrow--left {
                border: 0;
                padding: 0;
                background-color: transparent;
                font-family: "Font Awesome 5 Free";
                -webkit-font-smoothing: antialiased;
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                line-height: 1;
                font-size: 30px;
                color: $cultitlu;
                font-weight: 900;
                position: absolute;
                left: -15px;
                &:after {
                    content: "\f0d9";
                    color: $culbacklact;
                }
                .arrowslide {
                    display: none;
                }
            }
            .glide__arrow--right {
                border: 0;
                padding: 0;
                background-color: transparent;
                font-family: "Font Awesome 5 Free";
                -webkit-font-smoothing: antialiased;
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                line-height: 1;
                font-size: 30px;
                color: $cultitlu;
                font-weight: 900;
                position: absolute;
                right: -15px;
                &:after {
                    content: "\f0da";
                    color: $culbacklact;
                }
                .arrowslide {
                    display: none;
                }
            }
            .cutia2 {
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: auto auto auto;
                padding-bottom: 40px;
            }
            h2 {
                @include tipografie(28px,
                800,
                36px,
                $fottitlu);
                padding-bottom: 35px;
            }
            .cutia2 {
                @include grid(grid,
                20px,
                1fr 1fr 1fr,
                auto auto);
                padding-bottom: 3px;
            }
            .card2 {
                display: grid;
                grid-template-rows: 1fr;
                padding: 0;
                padding: 16px 30px 0 30px;
                margin-top: 15px;
            }
            h3 {
                padding-bottom: 16px;
                padding-top: 8px;
            }
            h2 {
                @include tipografie(24px,
                800,
                32px,
                $fottitlu);
                text-align: left;
                margin: 0;
                padding-bottom: 51px;
            }
            a {
                position: relative;
                height: 0;
                padding-bottom: 70%;
                float: left;
                width: 70%;
                left: 60px
            }
            img {
                width: auto;
                height: auto;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
            }
            h3 {
                text-align: center;
                margin: 0;
                @include tipografie(16px,
                700,
                24px,
                $cultitlu);
                display: inline-block;
                width: 100%;
                text-align: center;
            }
            .cutia2 {
                @include grid(grid,
                20px,
                1fr 1fr,
                auto auto auto auto auto auto);
            }
            .card2 {
                background-color: $background;
                width: 100%;
                border-radius: 16px;
                border: 1px solid black;
                padding: 16px 0;
                margin-bottom: 14px;
                box-sizing: border-box;
            }
        }
    }
}

@media (min-width:768px) {
    main {
        .fructe {
            .detfruct {
                display: none;
            }
            .lista {
                display: none;
            }
            .cardfructe {
                flex-wrap: wrap;
                flex-direction: row;
            }
            .card1 {
                width: calc((100% - 30px) / 2);
                flex-direction: column;
                border-radius: 0;
                background-color: $alb;
                margin-right: 15px;
                a.fruct {
                    padding-bottom: 70%;
                    width: 70%;
                }
                .detalii {
                    .pret {
                        padding-top: 9.5px;
                        padding-bottom: 16px;
                    }
                    width: 85%;
                    .stele {
                        display: inline-block;
                        width: 116px;
                        padding-top: 14.5px;
                        position: relative;
                        letter-spacing: 8px;
                        padding-bottom: 16px;
                        p {
                            margin: 0;
                            &.unu,
                            &.doi {
                                span {
                                    display: none;
                                }
                                font-family: "Font Awesome 5 Free";
                                -webkit-font-smoothing: antialiased;
                                display: inline-block;
                                font-style: normal;
                                font-variant: normal;
                                text-rendering: auto;
                                line-height: 1;
                                font-size: 15px;
                                font-weight: 900;
                                padding: 0;
                                text-align: center;
                                overflow-wrap: unset;
                                position: absolute;
                                z-index: 0;
                                &:after {
                                    content: "\f005 \f005 \f005 \f005 \f005";
                                    color: $culsale;
                                }
                            }
                            &.doi {
                                max-width: 0%;
                                overflow: hidden;
                                position: absolute;
                                z-index: 1;
                                width: 100%;
                                &:after {
                                    color: $steagalbena;
                                }
                                &.unu {
                                    position: relative;
                                }
                            }
                        }
                    }
                    .stele2 {
                        display: inline-block;
                        width: 116px;
                        padding-top: 14.5px;
                        position: relative;
                        overflow-wrap: unset;
                        letter-spacing: 8px;
                        padding-bottom: 16px;
                        p {
                            margin: 0;
                            &.unu,
                            &.doi {
                                span {
                                    display: none;
                                }
                                font-family: "Font Awesome 5 Free";
                                -webkit-font-smoothing: antialiased;
                                display: inline-block;
                                font-style: normal;
                                font-variant: normal;
                                text-rendering: auto;
                                line-height: 1;
                                font-size: 15px;
                                font-weight: 900;
                                padding: 0;
                                text-align: center;
                                overflow-wrap: unset;
                                position: absolute;
                                z-index: 0;
                                &:after {
                                    content: "\f005 \f005 \f005 \f005 \f005";
                                    color: $culsale;
                                }
                            }
                            &.doi {
                                max-width: 60%;
                                overflow: hidden;
                                position: absolute;
                                z-index: 1;
                                width: 100%;
                                &:after {
                                    color: $steagalbena;
                                }
                                &.unu {
                                    position: relative;
                                }
                            }
                        }
                    }
                    .stele3 {
                        display: inline-block;
                        width: 116px;
                        padding-top: 14.5px;
                        position: relative;
                        letter-spacing: 8px;
                        padding-bottom: 16px;
                        p {
                            margin: 0;
                            &.unu,
                            &.doi {
                                span {
                                    display: none;
                                }
                                font-family: "Font Awesome 5 Free";
                                -webkit-font-smoothing: antialiased;
                                display: inline-block;
                                font-style: normal;
                                font-variant: normal;
                                text-rendering: auto;
                                line-height: 1;
                                font-size: 15px;
                                font-weight: 900;
                                padding: 0;
                                text-align: center;
                                overflow-wrap: unset;
                                position: absolute;
                                z-index: 0;
                                &:after {
                                    content: "\f005 \f005 \f005 \f005 \f005";
                                    color: $culsale;
                                }
                            }
                            &.doi {
                                max-width: 100%;
                                overflow: hidden;
                                position: absolute;
                                z-index: 1;
                                width: 100%;
                                &:after {
                                    color: $steagalbena;
                                }
                                &.unu {
                                    position: relative;
                                }
                            }
                        }
                    }
                    .salemb {
                        border-radius: 16px;
                        background-color: $culbacklact;
                        font-family: "Font Awesome 5 Free";
                        -webkit-font-smoothing: antialiased;
                        font-style: normal;
                        font-variant: normal;
                        text-rendering: auto;
                        line-height: 1;
                        font-size: 18px;
                        color: $cultitlu;
                        font-weight: 900;
                        padding: 0;
                        width: 100%;
                        text-align: center;
                        padding: 15px 0;
                        display: flex;
                        align-items: baseline;
                        justify-content: center;
                        display: flex;
                        &:after {
                            content: "\f290";
                            color: white;
                            font-size: 20px;
                            border: 0;
                        }
                    }
                    #salembout {
                        background-color: $backfot;
                        &:after {
                            content: "\f290";
                            border-radius: 12px;
                            color: white;
                            border: 7px solid $backfot;
                            background: $backfot;
                        }
                    }
                    .mbbuy {
                        @include tipografie(14px,
                        700,
                        16px,
                        $alb);
                        display: block;
                    }
                    .detalii2 {
                        display: flex;
                        flex-direction: row-reverse;
                        align-items: flex-start;
                        width: 100%;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        .preturi2 {
                            justify-content: space-between;
                            width: 100%;
                            display: flex;
                            align-items: flex-start;
                            padding-bottom: 16px;
                            flex-direction: row-reverse;
                            .pret1 {
                                margin-left: 5px;
                            }
                            .pret3 {
                                margin-left: 5px;
                            }
                            .pretred {
                                display: inline-block;
                                padding-top: 6px;
                            }
                        }
                    }
                }
            }
        }
    }
    .categori {
        .cutia2 {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto auto auto auto;
            padding-bottom: 47px;
        }
    }
}

@media (min-width: 1024px) {
    .arrowup {
        display: none;
    }
    main {
        .container {
            padding: 0 40px;
        }
        .cutia1 {
            background-image: url("logo/search.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom center;
            display: block;
            margin-top: 40px;
            position: relative;
            padding-bottom: 0;
            .titlu {
                padding: 24px 72px;
                h2 {
                    @include tipografie(34px,
                    800,
                    40px,
                    $cultitlu);
                    margin: 0;
                    text-align: left;
                }
                p {
                    @include tipografie(16px,
                    700,
                    24px,
                    $culsubtitlu);
                    margin: 0;
                    text-align: left;
                    padding: 0;
                }
            }
            form {
                padding: 0 0 40px 72px;
                width: 45%;
                position: relative;
            }
            input {
                border-radius: 18px;
                border: 1px solid $culborder;
                padding: 20px 57px 20px 24px;
                width: 100%;
            }
            #searchclose {
                position: absolute;
                top: 15px;
                right: 50px;
                height: 32px;
                font-size: 20px;
                border: none;
                background: none;
                display: none;
                a {
                    text-decoration: none;
                    color: $cultxtcateg
                }
            }
            .buton {
                border: 0;
                background-color: transparent;
                font-family: "Font Awesome 5 Free";
                -webkit-font-smoothing: antialiased;
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                line-height: 1;
                font-size: 20px;
                color: $cultitlu;
                font-weight: 900;
                position: absolute;
                right: 10px;
                top: 15px;
                height: 32px;
                &:after {
                    content: "\f002";
                }
                span {
                    display: none;
                }
            }
        }
        .fructe {
            padding-bottom: 73px;
            .detfruct {
                display: none;
            }
            .lista {
                display: none;
            }
            h1 {
                @include tipografie(32px,
                800,
                36px,
                $cultitlu);
                text-align: left;
                margin: 0;
                padding-top: 40px;
                padding-bottom: 38px;
            }
            .card1 {
                width: calc((100% - 60px) / 3);
                margin-bottom: 32px;
                p.oferte {
                    @include tipografie(16px,
                    normal,
                    20.8px,
                    $culsubtitlu);
                    padding: 4px 11px;
                    left: 10px;
                }
                .detalii {
                    width: 100%;
                    padding: 16px 16px 0 16px;
                    .pret {
                        @include tipografie(20px,
                        700,
                        27px,
                        $cultitlu);
                    }
                    .nume {
                        @include tipografie(22px,
                        700,
                        22px,
                        $cultitlu);
                    }
                    .gramaj {
                        @include tipografie(14px,
                        600,
                        18px,
                        $culsubtitlu);
                        padding-top: 10px;
                        padding-bottom: 0;
                    }
                    .mbbuy {
                        @include tipografie(14px,
                        700,
                        16px,
                        $alb);
                        display: block;
                    }
                }
            }
        }
        .categori {
            .glide_slide,
            .glide_slide--clone {
                margin-left: 5px;
                margin-right: 5px;
            }
            a {
                left: 40px;
            }
            h2 {
                @include tipografie(28px,
                800,
                36px,
                $fottitlu);
                padding-bottom: 35px;
            }
            .cutia2 {
                @include grid(grid,
                20px,
                1fr 1fr 1fr,
                auto auto);
                padding-bottom: 3px;
            }
            .card2 {
                display: grid;
                grid-template-rows: 1fr;
                padding: 0;
                padding: 16px 30px 0 30px;
                margin-top: 15px;
            }
            h3 {
                padding-bottom: 16px;
                padding-top: 8px;
            }
        }
    }
}

@media (min-width: 1200px) {
    .noscroll {
        overflow: hidden;
        #loader {
            border: 12px solid $backfot;
            border-radius: 50%;
            border-top: 12px solid $culbacklact;
            width: 70px;
            height: 70px;
            animation: spin 1s linear infinite;
            position: absolute;
            left: calc(50% - 35px);
            top: calc(50% - 35px);
        }
        @keyframes spin {
            100% {
                transform: rotate(360deg);
            }
        }
        .stilizareloader {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            z-index: 100;
            background-color: rgba(255, 255, 255, 0.7);
        }
    }
    header {
        .navbar {
            .navbuton {
                display: inline-block;
            }
            position: relative;
            display: inline-block;
            padding-left: 50px;
            list-style: none;
            width: 80%;
            .dropbtn {
                text-decoration: none;
                @include tipografie(20px,
                700,
                26px,
                $cultitlu);
                margin-left: 15px;
            }
            .dropbtn2 {
                text-decoration: none;
                @include tipografie(20px,
                700,
                26px,
                $culpretred);
                margin-left: 15px;
            }
            .dropbtn:hover,
            .dropbtn2:hover {
                color: $culbacklact;
            }
            .menu {
                display: none;
                position: absolute;
                list-style-type: none;
                a {
                    text-transform: none;
                    display: block;
                    text-decoration: none;
                }
            }
            .showmenu {
                &+.menu {
                    display: grid;
                    grid-template-columns: 0.5fr 1fr;
                    grid-template-rows: 1fr;
                    padding: 0;
                    margin-top: 25px;
                    background-color: $alb;
                    padding: 25px;
                    box-shadow: 0px 0px 2px 0.5px rgb(0 0 0 / 25%);
                    .aditionaltext {
                        position: absolute;
                        z-index: 1;
                        top: 25px;
                        @include tipografie(20px,
                        700,
                        24px,
                        $cultitlu);
                        padding: 25px;
                    }
                    .aditionaltext2 {
                        position: absolute;
                        z-index: 1;
                        top: 65px;
                        @include tipografie(16px,
                        600,
                        20px,
                        $cultxtsupl);
                        padding: 25px;
                        max-width: 30%;
                    }
                    .aditionaltext3 {
                        position: absolute;
                        z-index: 1;
                        bottom: 20px;
                        @include tipografie(14px,
                        800,
                        28px,
                        $cultitlu);
                        padding: 25px;
                    }
                    img {
                        height: auto;
                        width: auto;
                        position: relative;
                        z-index: 0;
                    }
                    li {
                        z-index: 1;
                        background-color: $alb;
                        a {
                            @include tipografie(16px,
                            700,
                            20px,
                            $cultitlu);
                            padding-top: 9px;
                            padding-left: 30px;
                        }
                        a:hover {
                            color: $culbacklact;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:1400px) {
    main {
        .search2 {
            form {
                width: 35%;
            }
        }
        .fructe {
            .card1 {
                margin-bottom: 29px;
                width: calc((100% - 93px)/4);
                .detalii {
                    .stele,
                    .stele2,
                    .stele3 {
                        padding-bottom: 0;
                        width: 120px;
                        letter-spacing: 8px;
                    }
                    .gramaj {
                        padding-bottom: 0px;
                        padding-top: 10px;
                    }
                }
            }
            .card1:hover {
                box-shadow: 0px 0px 8px 5px rgb(0 0 0 / 45%);
                .detalii {
                    .salemb {
                        background-color: $cullachover;
                    }
                }
            }
            .det1,
            .det2 {
                display: inline-block;
                @include tipografie(12px,
                600,
                16px,
                $cultxtsupl);
            }
            .simbolpret,
            .simbolgramaj {
                display: inline-block;
                @include tipografie(12px,
                600,
                16px,
                $cultxtsupl);
                padding: 0;
            }
            .det3 {
                display: inline-block;
                @include tipografie(12px,
                700,
                16px,
                $cultitlu);
                padding-left: 10px;
                select {
                    border-radius: 30px;
                    border: 1px solid $backfot;
                    padding: 7px;
                    @include tipografie(12px,
                    700,
                    16px,
                    $cultxtcateg);
                }
                option {
                    text-align: center;
                    padding: 0;
                }
            }
            .detfruct {
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding-bottom: 30px;
            }
            .det4 {
                display: flex;
                flex-direction: row;
                align-items: baseline;
                justify-content: flex-end;
                width: 12%;
            }
            .lista {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 15%;
                float: right;
                padding-top: 24px;
                a {
                    @include tipografie(14px,
                    700,
                    16px,
                    $culsubtitlu);
                    text-decoration: none;
                }
                a:hover {
                    color: $culbacklact;
                    text-decoration: underline;
                }
            }
        }
        .categori {
            padding: 0;
            .cutia2 {
                grid-gap: 20px;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-template-rows: auto auto;
                padding-bottom: 40px;
            }
            .card2:hover {
                box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.08);
                background-color: $alb;
            }
        }
    }
}

@media (min-width:1600px) {
    main {
        .search2 {
            form {
                width: 30%;
            }
        }
    }
}

@media (min-width:1700px) {
    main {
        .search2 {
            form {
                width: 25%;
            }
        }
    }
}

@media (min-width:1800px) {
    main {
        .search2 {
            form {
                width: 24%;
            }
        }
    }
}

@media (min-width:2000px) {
    main {
        .search2 {
            form {
                width: 23%;
            }
        }
    }
}