    @import "culori";
    @import "mixinuri";
    @import "header";
    @import "footer";
    body {
        font-family: $font-family;
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
    }
    
    * {
        box-sizing: border-box;
    }
    
    * {
        margin: 0;
    }
    
    img {
        display: block;
        max-width: 100%;
    }
    
    input,
    button,
    textarea,
    select {
        font: inherit;
    }
    
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        overflow-wrap: break-word;
    }
    
    @media (min-width: 320px) {
        footer {
            padding-top: 50px;
        }
        #loader {
            border: 12px solid $backfot;
            border-radius: 50%;
            border-top: 12px solid $culbacklact;
            width: 70px;
            height: 70px;
            animation: spin 1s linear infinite;
            position: absolute;
            left: calc(50% - 35px);
            top: calc(50% - 35px);
        }
        @keyframes spin {
            100% {
                transform: rotate(360deg);
            }
        }
        .stilizareloader {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            z-index: 100;
            background-color: rgba(255, 255, 255, 0.7);
        }
        main {
            padding: 20px;
            min-height: 600px;
            .active {
                border: green($color: #000000);
            }
            h2 {
                padding-bottom: 20px;
                @include tipografie(32x, 800, 36px, $cultitlu);
                display: inline-block;
            }
            #boxText {
                padding-bottom: 20px;
                #btnaccountinfo,
                #btnorders,
                #btnlogout {
                    @include tipografie(20px, 400, 24px, $cultitlu);
                    padding-top: 5px;
                    display: block;
                    cursor: pointer;
                    text-decoration: none;
                }
                #btnorders {
                    color: $culbacklact
                }
            }
            #boxAdress {
                display: block;
            }
            #orders {
                display: block;
                z-index: 0;
                text-align: center;
            }
            #OrdersHeadTable {
                display: none;
            }
            .comanda>.tableSmall>.tableCell:nth-child(odd) {
                display: table-cell;
                width: 50%;
            }
            .tableCell {
                display: table-cell;
                width: 50%;
                @include tipografie(18x, 600, 22px, $cultitlu)
            }
            .comanda {
                display: table;
                width: 100%;
                padding-bottom: 20px;
                margin: 5% auto 0;
                text-align: center;
            }
            .tableSmall {
                display: table-row;
            }
            .comanda>.tableSmall:first-child>.tableCell:last-child {
                border-left: none;
            }
            .comanda>.tableSmall>.tableCell:first-child {
                border-left: $ordersbord 1px solid;
                border-top: $ordersbord 1px solid;
                border-right: #BCBCBC 1px solid;
            }
            .comanda.tableSmall:first-child>.tableCell:first-child {
                border-top: $ordersbord 1px solid;
            }
            .comanda>.tableSmall:first-child>.tableCell:last-child {
                border-top: $ordersbord 1px solid;
            }
            .comanda>.tableSmall:last-child>.tableCell:first-child {
                border-right: none;
            }
            .comanda>.tableSmall>.tableCell:last-child {
                border-right: $ordersbord 1px solid;
                border-top: #BCBCBC 1px solid;
            }
            .comanda>.tableSmall:last-child>.tableCell:first-child {
                border-bottom: #BCBCBC 1px solid;
                border-right: #BCBCBC 1px solid;
            }
            .comanda>.tableSmall:last-child>.tableCell:last-child {
                border-bottom: #BCBCBC 1px solid;
            }
        }
    }
    
    @media (min-width: 720px) {
        main {
            #boxText {
                display: inline-block;
                width: 20%;
            }
        }
    }
    
    @media (min-width: 1235px) {
        main {
            #boxAdress {
                display: flex;
                flex-direction: column;
            }
            #orders {
                text-align: center;
            }
            .comanda {
                display: table-row;
            }
            #OrdersHeadTable {
                display: table-row;
            }
            .table_header {
                display: table-cell;
                padding-top: 15px;
                min-width: 200px;
                border-top: 1px solid $cultitlu;
                border-bottom: 1px solid $cultitlu;
                @include tipografie(18x, 800, 22px, $cultitlu)
            }
            .tableSmall {
                display: table-cell;
                border-bottom: 1px solid $ordersbord;
            }
            .comanda>.tableSmall>.tableCell:nth-child(odd) {
                display: none;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .comanda>.tableSmall>.tableCell {
                padding-top: 10px;
                @include tipografie(18x, 400, 22px, $cultitlu);
                min-width: 200px;
            }
            .comanda>.tableSmall:first-child>.tableCell:last-child {
                border-left: none;
            }
            .comanda>.tableSmall>.tableCell:first-child {
                border-left: $ordersbord 1px solid;
                border-top: $ordersbord 1px solid;
                border-right: #BCBCBC 1px solid;
            }
            .comanda.tableSmall:first-child>.tableCell:first-child {
                border-top: none;
            }
            .comanda>.tableSmall:first-child>.tableCell:last-child {
                border-top: none;
            }
            .comanda>.tableSmall:last-child>.tableCell:first-child {
                border-right: none;
            }
            .comanda>.tableSmall>.tableCell:last-child {
                border-right: none;
                border-top: none;
            }
            .comanda>.tableSmall:last-child>.tableCell:first-child {
                border-bottom: none;
                border-right: none;
            }
            .comanda>.tableSmall:last-child>.tableCell:last-child {
                border-bottom: none;
            }
        }
    }
    
    @media (min-width: 1390px) {
        main {
            #boxAdress {
                display: flex;
                flex-direction: row;
            }
            #boxAdress:last-child {
                margin-left: auto;
            }
        }
    }