@import "culori";
@import "mixinuri";
@import "header";
@import "footer";
@import "main";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";
body {
    font-family: $font-family;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
}

* {
    margin: 0;
}

ul {
    list-style-type: disc;
}

a {
    cursor: pointer;
}

html,
body {
    height: 100%;
}

img {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}