@media (min-width: 320px) {
  header {
    text-align: center;
    padding: 25px 54px;
    margin: 0;
    background-color: #D9D9D9;
  }
  header #succes {
    background-color: #059E67;
  }
  header #fail {
    background-color: red;
  }
  header #succes,
  header #fail {
    display: none;
    font-size: 16px;
    font-weight: 800;
    line-height: 18px;
    color: #FFFFFF;
    position: fixed;
    padding: 15px;
    border-radius: 15px;
    z-index: 3;
    right: 0;
  }
  header #imgsh {
    width: 120px;
    height: 120px;
    display: inline-block;
  }
  header .itmshop {
    overflow: auto;
    height: 75%;
  }
  header .numarcumparaturi {
    background-color: #059E67;
    border-radius: 50%;
    margin-left: 10px;
    width: 24px;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
  }
  header .cumparaturi {
    padding-right: 15px;
    border-bottom: 1px solid #D9D9D9;
    display: flex;
    padding-top: 15px;
    width: 100%;
  }
  header #plus {
    border: 0;
    background-color: transparent;
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 15px;
    color: #1D1929;
    font-weight: 600;
    padding: 5px;
    position: relative;
    right: 0px;
    background-color: #D9D9D9;
    border-radius: 50%;
  }
  header #plus:after {
    content: "\f067";
    color: #000000;
  }
  header #plus span {
    display: none;
  }
  header #minus {
    border: 0;
    background-color: transparent;
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 15px;
    color: #1D1929;
    font-weight: 600;
    padding: 5px;
    right: 47px;
    position: relative;
    background-color: #D9D9D9;
    border-radius: 50%;
  }
  header #minus:before {
    content: "\f068";
    color: #000000;
  }
  header #minus span {
    display: none;
  }
  header .detfruct {
    display: inline-block;
    width: 85%;
    text-align: left;
  }
  header a.rmvitm {
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: row-reverse;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1.5;
    font-size: 15px;
    font-weight: 900;
    padding: 0;
    text-align: center;
    overflow-wrap: unset;
    position: absolute;
    z-index: 0;
    right: 30px;
    top: 30px;
    text-decoration: none;
  }
  header a.rmvitm:after {
    content: "X";
    color: black;
  }
  header a.rmvitm span {
    display: none;
  }
  header .mobilebtn {
    border: 0;
    background-color: transparent;
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 30px;
    color: #1D1929;
    font-weight: 900;
    position: absolute;
    left: 15px;
    top: 25px;
    padding-left: 10px;
  }
  header .mobilebtn:after {
    content: "\f0c9";
    color: #059E67;
  }
  header .mobilebtn .iconmob {
    display: none;
  }
  header .navbar {
    background-color: #FFFFFF;
    display: none;
    position: absolute;
    width: 50%;
    padding: 0;
    background-color: #D9D9D9;
    position: absolute;
  }
  header .navbar .navbuton {
    display: inline-block;
  }
  header #userLogin {
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: row-reverse;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1.5;
    font-size: 15px;
    font-weight: 900;
    padding: 0;
    text-align: center;
    overflow-wrap: unset;
    position: absolute;
    z-index: 3;
    right: 90px;
    top: 30px;
    color: black;
    text-decoration: none;
  }
  header #userLogin:after {
    content: "\f007";
  }
  header #userLogin span {
    display: none;
  }
  header .cart {
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: row-reverse;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1.5;
    font-size: 15px;
    font-weight: 900;
    padding: 0;
    text-align: center;
    overflow-wrap: unset;
    position: absolute;
    z-index: 3;
    right: 30px;
    top: 30px;
    text-decoration: none;
  }
  header .cart:after {
    content: "\f07a";
    color: black;
  }
  header .cart span {
    display: none;
  }
  header .showshop + .shop {
    display: block;
    position: fixed;
    z-index: 3;
    list-style: none;
    width: 100%;
    left: 0;
    overflow: auto;
    height: 100%;
    top: 0;
    padding-left: 0;
    background-color: #FFFFFF;
  }
  header .showshop + .shop p {
    margin-bottom: 0;
  }
  header .usersmenu {
    display: none;
  }
  header .showusersmenu + .usersmenu {
    display: inline-block;
    position: absolute;
    right: 20px;
    background: #D9D9D9;
    top: 80px;
    padding: 25px;
    list-style: none;
    z-index: 3;
  }
  header .showusersmenu + .usersmenu #infopage {
    padding-right: 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #1D1929;
    cursor: pointer;
    text-decoration: none;
  }
  header .showusersmenu + .usersmenu #btnlogout {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #1D1929;
    cursor: pointer;
    text-decoration: none;
  }
  header .shopitems {
    position: absolute;
    z-index: 1;
    background-color: white;
  }
  header .numeFruct {
    font-size: 16px;
    font-weight: 800;
    line-height: 18px;
    color: #000000;
    padding-bottom: 10px;
  }
  header #value {
    text-align: center;
    font-size: 16px;
    font-weight: 800;
    line-height: 18px;
    color: #000000;
  }
  header #quantyy {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #000000;
  }
  header .valuequanty {
    width: 50px;
    padding: 0;
    position: relative;
    right: -25px;
    border: 0.5px solid #E8E8EA;
    text-align: center;
    display: inline-block;
    border-radius: 25px;
  }
  header .pricebut {
    position: relative;
    top: 30px;
    padding: 0;
  }
  header .price {
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #000000;
  }
  header #delitm {
    top: -20px;
    position: relative;
    border: 0;
    border-radius: 10px;
    float: right;
    background-color: #D9D9D9;
  }
  header #btnshop {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
  header .checkoutbtn {
    text-decoration: none;
    color: white;
    text-align: center;
    border-radius: 20px;
    margin: 13px;
    display: block;
    padding: 15px 40px;
    background-color: #059E67;
    pointer-events: auto;
  }
  header .checkoutbtn:hover {
    background-color: #00774C;
    color: white;
  }
  header .checkoutbtnof {
    text-decoration: none;
    color: white;
    text-align: center;
    border-radius: 20px;
    margin: 13px;
    display: block;
    padding: 15px 40px;
    background-color: #D9D9D9;
    pointer-events: none;
  }
  header .itmcart,
  header .subtotal {
    display: inline-block;
    float: right;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    color: #000000;
  }
  header .topshop {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 10px;
    border-bottom: 2px solid #D9D9D9;
  }
  header .butonclose {
    display: block;
    margin-bottom: 50px;
  }
  header .close {
    float: right;
    background: white;
    border: none;
    font-size: 30px;
    bottom: 45px;
    position: relative;
  }
  header .shop {
    display: none;
  }
  header .navigation-active {
    height: 100%;
    overflow-x: hidden;
    z-index: 3;
    padding-left: 10px;
  }
  header .navigation-active + .navbar {
    justify-content: flex-start;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 2;
    list-style: none;
    width: 100%;
    left: 0;
    overflow: auto;
    height: 100%;
    padding-top: 54px;
    top: 0;
  }
  header .navigation-active + .navbar .navbuton {
    display: inline-block;
  }
  header .navigation-active + .navbar .navbuton .arrowuplink {
    border: 0;
    background-color: transparent;
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 30px;
    color: #1D1929;
    font-weight: 900;
    position: absolute;
    text-decoration: none;
    top: 50px;
    padding-left: 10px;
  }
  header .navigation-active + .navbar .navbuton .arrowuplink:after {
    content: "\f106";
    color: #059E67;
  }
  header .navigation-active + .navbar .navbuton .arrowup {
    display: none;
  }
  header .navigation-active + .navbar .dropbtn {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: #1D1929;
  }
  header .navigation-active + .navbar .dropbtn2 {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: #CA8383;
  }
  header .navigation-active + .navbar .menu {
    display: none;
    list-style-type: none;
  }
  header .navigation-active + .navbar .menu a {
    text-transform: none;
    display: block;
    text-decoration: none;
  }
  header .navigation-active + .navbar .showmenu .arrowuplink {
    transform: rotate(180deg);
    padding-right: 10px;
  }
  header .navigation-active + .navbar .showmenu + .menu {
    display: inline;
    padding: 0;
    margin-top: 25px;
    padding: 25px 0;
    z-index: 1;
    background-color: #D9D9D9;
  }
  header .navigation-active + .navbar .showmenu + .menu .partea1 {
    text-align: center;
  }
  header .navigation-active + .navbar .showmenu + .menu .aditionaltext {
    position: absolute;
    z-index: 1;
    top: 25px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #1D1929;
    padding: 25px;
    display: none;
  }
  header .navigation-active + .navbar .showmenu + .menu .aditionaltext2 {
    position: absolute;
    z-index: 1;
    top: 65px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #A5A3A9;
    padding: 25px;
    max-width: 30%;
    display: none;
  }
  header .navigation-active + .navbar .showmenu + .menu .aditionaltext3 {
    position: absolute;
    z-index: 1;
    bottom: 20px;
    font-size: 14px;
    font-weight: 800;
    line-height: 28px;
    color: #1D1929;
    padding: 25px;
    display: none;
  }
  header .navigation-active + .navbar .showmenu + .menu img {
    height: auto;
    width: auto;
    position: relative;
    z-index: 0;
    display: none;
  }
  header .navigation-active + .navbar .showmenu + .menu li {
    z-index: 1;
  }
  header .navigation-active + .navbar .showmenu + .menu li a {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #1D1929;
    padding-top: 9px;
  }
  header img {
    height: auto;
    width: 211px;
  }
  header a {
    display: inline-block;
  }
}
@media (min-width: 1024px) {
  header {
    padding: 25px 0px 25px 40px;
    margin: 0;
    background-color: #D9D9D9;
    text-align: left;
  }
  header #user {
    right: 150px;
  }
  header .arrowup {
    display: none;
  }
  header .navigation {
    display: inline;
  }
  header .close {
    bottom: 0px;
  }
  header .mobilebtn {
    display: none;
  }
  header .dropmenumob {
    display: none;
  }
  header .dropmenumob .iconmob {
    display: none;
  }
  header .navbar {
    margin: 0;
    background-color: #D9D9D9;
    position: absolute;
    display: inline-block;
    padding-left: 50px;
    list-style: none;
    width: 75%;
  }
  header .navbar .navbuton {
    display: inline-block;
  }
  header .navbar .dropbtn {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: #1D1929;
    margin-left: 15px;
  }
  header .navbar .dropbtn2 {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: #CA8383;
    margin-left: 15px;
  }
  header .navbar .dropbtn:hover,
  header .navbar .dropbtn2:hover {
    color: #059E67;
  }
  header .navbar .menu {
    display: none;
    position: absolute;
    list-style-type: none;
  }
  header .navbar .menu a {
    text-transform: none;
    display: block;
    text-decoration: none;
  }
  header .navbar .showmenu + .menu {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    padding: 0;
    margin-top: 25px;
    background-color: #FFFFFF;
    padding: 25px;
    box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.25);
    z-index: 1;
  }
  header .navbar .showmenu + .menu .aditionaltext {
    position: absolute;
    z-index: 1;
    top: 25px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #1D1929;
    padding: 25px;
  }
  header .navbar .showmenu + .menu .aditionaltext2 {
    position: absolute;
    z-index: 1;
    top: 65px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #A5A3A9;
    padding: 25px;
    max-width: 30%;
  }
  header .navbar .showmenu + .menu .aditionaltext3 {
    position: absolute;
    z-index: 1;
    bottom: 20px;
    font-size: 14px;
    font-weight: 800;
    line-height: 28px;
    color: #1D1929;
    padding: 25px;
  }
  header .navbar .showmenu + .menu img {
    height: auto;
    width: auto;
    position: relative;
    z-index: 0;
  }
  header .navbar .showmenu + .menu li {
    z-index: 1;
    background-color: #FFFFFF;
  }
  header .navbar .showmenu + .menu li a {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #1D1929;
    padding-top: 9px;
    padding-left: 30px;
  }
  header .navbar .showmenu + .menu li a:hover {
    color: #059E67;
  }
  header #userLogin {
    right: 150px;
  }
  header .cart {
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: row-reverse;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1.5;
    font-size: 15px;
    font-weight: 900;
    padding: 0;
    text-align: center;
    overflow-wrap: unset;
    position: absolute;
    z-index: 0;
    top: 30px;
    right: 90px;
    text-decoration: none;
  }
  header .cart:after {
    content: "\f07a";
    color: black;
  }
  header .cart span {
    display: none;
  }
  header .showshop + .shop {
    display: block;
    padding: 0;
    left: unset;
    overflow: inherit;
    z-index: 3;
    background-color: transparent;
  }
  header #btnshop {
    width: 40%;
  }
  header #cart {
    position: absolute;
    float: left;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
  }
  header #cartshop {
    background-color: #FFFFFF;
    float: right;
    width: 40%;
    height: 100%;
  }
  header .shop {
    display: none;
    right: 0px;
  }
  header .shopitems {
    position: absolute;
    z-index: 1;
    background-color: white;
  }
  header .cumparaturi {
    border-bottom: 1px solid #D9D9D9;
  }
  header .detfruct {
    display: inline-block;
    width: 60%;
  }
  header img {
    height: auto;
    width: 211px;
  }
}
@media (min-width: 1200px) {
  header .detfruct {
    width: 68%;
  }
}
@media (min-width: 1500px) {
  header .detfruct {
    width: 72%;
  }
}
@media (min-width: 1600px) {
  header .detfruct {
    width: 75%;
  }
  header .navbar .shop {
    right: -107px;
  }
}
@media (min-width: 1700px) {
  header .navbar .shop {
    right: -129px;
  }
}
@media (min-width: 1800px) {
  header .detfruct {
    width: 78%;
  }
}
@media (min-width: 320px) {
  body {
    margin: 0;
  }
  footer {
    background-color: #F9F9F9;
  }
  footer a.poza {
    display: none;
  }
  footer h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    color: #000000;
  }
  footer li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #1D1929;
  }
  footer p {
    margin: 0;
    padding: 30px 0 23px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #000000;
  }
  footer ul {
    list-style-type: none;
    padding: 0;
  }
  footer .c1 {
    margin: 0;
    padding: 10px 0 0 0;
  }
  footer h3 {
    padding: 16px 0 0 0;
    margin: 0;
  }
  .container {
    padding: 0 16px;
  }
  .containerf {
    padding: 0 16px;
  }
}
@media (min-width: 1024px) {
  footer {
    background-color: #D9D9D9;
  }
  footer a.poza {
    display: inline-block;
    padding: 40px 0px;
  }
  footer a.poza img {
    width: 211px;
    height: auto;
  }
  footer .foter {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
  footer h3 {
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    color: #000000;
  }
  footer li a {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #1D1929;
  }
  footer p {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #1D1929;
    text-align: left;
  }
  footer .c1 {
    padding: 20px 0 0 0;
  }
  .containerf {
    padding: 0 40px;
    text-align: center;
  }
}
body {
  font-family: "Nunito Sans";
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

@media (min-width: 320px) {
  #loader {
    border: 12px solid #D9D9D9;
    border-radius: 50%;
    border-top: 12px solid #059E67;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
    position: absolute;
    left: calc(50% - 35px);
    top: calc(50% - 35px);
  }
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  .stilizareloader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.7);
  }
  main {
    padding: 20px;
    min-height: 600px;
    margin-bottom: 40px;
  }
  main .active {
    border: 0;
  }
  main h2 {
    padding-bottom: 20px;
    font-size: 32x;
    font-weight: 800;
    line-height: 36px;
    color: #1D1929;
    display: inline-block;
  }
  main #boxText {
    padding-bottom: 20px;
  }
  main #boxText #btnaccountinfo,
  main #boxText #btnorders,
  main #boxText #btnlogout {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #1D1929;
    padding-top: 5px;
    display: block;
    cursor: pointer;
    text-decoration: none;
  }
  main #boxText #btnaccountinfo {
    color: #059E67;
  }
  main #btnnewaddress {
    float: right;
    position: relative;
    bottom: 30px;
    border: 1px solid #059E67;
    border-radius: 16px;
    background-color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: #059E67;
    width: 45%;
    text-align: center;
    padding: 15px 0;
    width: 25%;
  }
  main #boxAdress {
    padding-bottom: 30px;
  }
  main #addres .addresbx {
    padding: 43px 10px 50px 10px;
    background-color: #F9F9F9;
    border-radius: 16px;
    margin-bottom: 25px;
    display: inline-block;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
    margin-right: 20px;
  }
  main #addres .adresstext {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #1D1929;
  }
  main .headernewadres {
    justify-content: space-between;
    display: flex;
  }
  main .headernewadres h2 {
    padding-top: 6px;
    padding-left: 50px;
    font-size: 23px;
    font-weight: 800;
    line-height: 32px;
    color: #1D1929;
  }
  main .names {
    width: 100%;
  }
  main #close {
    background: none;
    border: none;
    padding-right: 15px;
  }
  main #addadres {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: #FFFFFF;
    background-color: #059E67;
    width: 285px;
    padding: 16px 0 16px 0;
    border-radius: 16px;
    border: none;
    float: left;
    margin: 20px 0 32px 38px;
  }
  main .popup-overlay {
    visibility: hidden;
    position: absolute;
    background: #ffffff;
    border: 1px solid #BCBCBC;
    border-radius: 18px;
    width: 80%;
    height: auto;
    left: 10%;
    top: 10%;
  }
  main .popup-overlay.active {
    visibility: visible;
    text-align: center;
  }
  main .popup-content {
    visibility: hidden;
  }
  main .popup-content.active {
    flex-direction: column;
    visibility: visible;
    padding-top: 6px;
    align-items: center;
    display: flex;
    margin-left: 38px;
    margin-right: 38px;
    border-top: 1px solid #BCBCBC;
    border-bottom: 1px solid #BCBCBC;
    padding-bottom: 81px;
  }
  main .popup-content.active p {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: #1D1929;
    padding-bottom: 8px;
    padding-top: 28px;
  }
  main .popup-content.active input {
    padding: 20px 24px;
    border: 1px solid #BCBCBC;
    border-radius: 18px;
    background-color: #FFFFFF;
    color: #A5A3A9;
  }
  main #country,
  main #state {
    padding: 20px 24px;
    border: 1px solid #BCBCBC;
    border-radius: 18px;
    background-color: #FFFFFF;
    width: 80%;
    color: #A5A3A9;
  }
  main .date {
    width: 80%;
  }
  main .last,
  main .first {
    width: 80%;
  }
}
@media (min-width: 720px) {
  main #boxText {
    display: inline-block;
    width: 20%;
  }
  main #boxAdress {
    display: flex;
  }
  main #boxAdress #addres {
    display: flex;
    flex-direction: row;
    width: 80%;
    flex-wrap: wrap;
  }
  main #boxAdress #addres .addresbx {
    margin-right: 25px;
    width: 22%;
    text-align: center;
  }
}
@media (min-width: 1024px) {
  main .nume {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 45%;
  }
  main #country,
  main #state {
    width: 50%;
  }
  main .date {
    width: 50%;
  }
  main .names {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  main .names .last,
  main .names .first {
    width: 100%;
  }
  main .names p {
    display: inline-block;
  }
  main .popup-content.active {
    align-items: flex-start;
  }
}

/*# sourceMappingURL=userinfo.css.map */
