@import "culori";
@import "mixinuri";
@import "header";
@import "footer";
body {
    font-family: $font-family;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

@media (min-width: 320px) {
    #loader {
        border: 12px solid $backfot;
        border-radius: 50%;
        border-top: 12px solid $culbacklact;
        width: 70px;
        height: 70px;
        animation: spin 1s linear infinite;
        position: absolute;
        left: calc(50% - 35px);
        top: calc(50% - 35px);
    }
    @keyframes spin {
        100% {
            transform: rotate(360deg);
        }
    }
    .stilizareloader {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 100;
        background-color: rgba(255, 255, 255, 0.7);
    }
    main {
        padding: 20px;
        min-height: 600px;
        .active {
            border: green($color: #000000);
        }
        h2 {
            padding-bottom: 20px;
            @include tipografie(32x, 800, 36px, $cultitlu);
            display: inline-block;
        }
        #boxText {
            padding-bottom: 20px;
            #btnaccountinfo,
            #btnorders,
            #btnlogout {
                @include tipografie(20px, 400, 24px, $cultitlu);
                padding-top: 5px;
                display: block;
                cursor: pointer;
                text-decoration: none;
            }
            #btnaccountinfo {
                color: $culbacklact
            }
        }
        #addres {
            .addresbx {
                padding: 43px 10px 50px 10px;
                background-color: $background;
                border-radius: 16px;
                margin-bottom: 25px;
                display: inline-block;
                box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
                margin-right: 20px;
            }
            .adresstext {
                @include tipografie(18px, 400, 25px, $cultitlu)
            }
        }
    }
}

@media (min-width: 720px) {
    main {
        #boxText {
            display: inline-block;
            width: 20%;
        }
        #boxAdress {
            display: flex;
            #addres {
                display: flex;
                flex-direction: row;
                width: 80%;
                .addresbx {
                    margin-right: 25px;
                }
            }
        }
    }
}